/* general styling */
nav{
    display: inline-flex;
    width: 100%;
    max-width: 900px;
    background-color: #dd4141;
    justify-content: space-around;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
body{
    background-color: pink;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
}
/* index style */
img{
    max-width: 60%;
}
#dom-tasks-container{
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.hide{
    visibility: hidden;
}
.content-container{
    margin: auto;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    justify-content: center;
}

/* drum style */
.big-text{
    font-size: 25px;
    font-weight: bold;
}
.drumItem{
    width:200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #dd4141;
    align-items: center;
    justify-content: center;
}
.drumItem h2{
    height: 40px;
    font-size: 40px;
}
.numkey{
    position: absolute;
    top:0;
    left:0;
    padding: 10px;
}
.numkey p{
    margin: 0;
    padding: 0;
}
#main-content{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    max-width: 630px;
    text-align: center;
}
#main-content div{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

/* keypress style */
p{
    min-height: 24px;
}
header{
    margin: auto;
    width: 100%;
    max-width: max-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    text-align: center;
}
#allHolder{
    display: flex;
    justify-content: space-around;
    width: 80vw;
    max-width: 1400px;
    margin: auto;
    margin-top: 20px;
}
#code, #key, #charr{
    background-color: #dd4141;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 30%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}
#code h2, #key h2, #charr h2{
    margin: 0;
}
#code{
    float:left;
}
#charr{
    float: right;
}
/* dice shit */
#current-mode{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 160px;
    margin: 0 auto;
}
#multiplayer-toggle{
    height: max-content;
}